
.fade-in-left-item {
    -webkit-animation: fadeInLeft 2000ms;
    -moz-animation: fadeInLeft 2000ms;
    -o-animation: fadeInLeft 2000ms;
    animation: fadeInLeft 2000ms;
  }

  [background-size] {
      padding: 8px;
      height: 70px;
      @include darkening-blend-mode;
    }

    .item-inner {
      margin-left: 5px !important;
    }
