<ion-header>
  <ion-navbar>
    <ion-title>Field for Inspection</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
          <div background-size>
              <div class="search-bar-bcg">
                  <ion-searchbar [(ngModel)]="searchTerm" (input)="searchBar()"></ion-searchbar>
              </div>
          </div>
      </ion-col>
      <ion-col col-12>
        <ion-list no-margin *ngIf="results.length === 0">
          <ion-item no-lines [ngClass]="animateClass" *ngFor="let field of fields;" (click)="details(field)">
            <ion-icon name="flower" item-start></ion-icon>
            <h2 item-title padding-left>{{field.water_rights_italy.comune}}</h2>
            <p style="margin-left: 15px; opacity:.4">{{confirm}}</p>
            <ion-icon icon-small item-right name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list no-margin *ngIf="results.length !==0">
          <ion-item no-lines [ngClass]="animateClass" *ngFor="let res of results;" (click)="details(res)">
            <ion-icon name="flower" item-start></ion-icon>
            <h2 item-title padding-left>{{field.water_rights_italy.comune}}</h2>
            <ion-icon icon-small item-right name="arrow-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
