<ion-content has-header white-background>
   <ion-grid >
     <ion-row wrap-padding>
       <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <img src="assets/icon/dianaIcon.png"/>
          <ion-item no-padding transparent>
            <ion-label floating><ion-icon icon-small name="person"></ion-icon>Username</ion-label>
            <ion-input required type="email" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item no-padding transparent>

            <ion-label floating><ion-icon icon-small name="lock"></ion-icon>Password</ion-label>
            <ion-input required type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-col>
             <p text-right ion-text color="primary"><strong>Forgot password?</strong></p>
          </ion-col>
          <ion-row justify-content-center>
            <button ion-button icon-start  button-clear-outline round outline (click)="logForm()" item-content-center>
              <ion-icon name="log-in"></ion-icon>
              SIGN IN
            </button>
          </ion-row>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
