page-login {
  ion-col {
    position: relative;
  }

  img {
    width: 200px;
    max-height: 100px;
    display: block;
    margin: 35px auto 20px;
  }

  .item-inner {
    border-bottom-color: theme-colors('mainColors', 'primary') !important;
    box-shadow: none !important;
  }

  [button-clear-outline] {
    margin-top: 10%;
    width: 48.3%;
  }

  [social] {
    margin: 20px auto 0;
    overflow: hidden;

    button {
      margin: 1%;
      width: 48.5%;
    }
  }
}
