page-modal {

  .fab-md {
    background-color: #79a55a;
  }

  img {
    width: 100%;
    display: none;
  }

img[src] {
   display: block;
 }
}

.textareaRow {
   height: 250px;
   border-bottom: 1px solid #00bee4;
}

textarea {
  width: 100%;
  height: 220px;
  border: none;
  padding: 10px;
  resize:none;
  color: rgba(0, 0, 0, .6);
  font: 20px/28px 'Open Sans', sans-serif;
}

input {
  font: 20px/28px 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .6);
  padding: 10px;
}

.btnM {
  width:120px;
}
