<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>REPORT</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="false">
  <ion-grid>
    <ion-row style="margin-bottom: 10px;">
      <input type="text" [(ngModel)]="title" placeholder="Write a title">
    </ion-row>
    <ion-row class="textareaRow">
        <textarea placeholder="Write your report.." [(ngModel)]="textReport"></textarea>
    </ion-row>
    <ion-row style="margin-top:2%">
      <ion-col>
        <ion-buttons right bottom>
          <button ion-button round  style="background-color: #79a55a" (click)="takePhoto()">
            Camera
          </button>
       </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons left bottom>
          <button ion-button round style="background-color: #79a55a" (click)="openGallery()">
            Gallery
          </button>
       </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 0px;">
      <div style="height:300px; width:100%;" *ngIf="photos.length != 0">
        <img [src]="photo" style="height: 100%" *ngFor="let photo of photos">
      </div>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
   <button ion-fab  style="background-color: #79a55a" (click)="report()"><ion-icon style="color:white" name="checkmark"></ion-icon></button>
 </ion-fab>
</ion-content>
