
<ion-header>
    <ion-navbar>
      <ion-title>{{field.water_rights_italy.comune}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
  <div id='elastic-header'>
    <div id="map1" class="card-img"></div>
  </div>
  <ion-grid no-padding>
    <ion-row style="border-bottom: 1px solid rgba(134,119,112,.5)">
      <ion-col col-12 map-header>
          <ion-item no-lines padding-left transparent>
            <ion-icon item-left name="information-circle"></ion-icon>
            <p no-margin maps-description item-left>Information: Checked</p>
          </ion-item>
          <ion-item no-lines padding-left transparent>
            <ion-icon item-left  name="nutrition"></ion-icon>
            <p no-margin maps-description  item-left>Crop Type: Corn</p>
          </ion-item>
          <ion-item no-lines padding-left transparent>
            <ion-icon item-left  name="paper"></ion-icon>
            <p no-margin maps-description item-left>Legality: illegal</p>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:2%">
      <ion-col>
        <ion-buttons right bottom>
          <button ion-button round  style="background-color: #79a55a" (click)="report()">
            <ion-icon name="pricetag"></ion-icon>
            REPORT
          </button>
       </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons left bottom>
          <button ion-button round style="background-color: #79a55a" (click)="history()">
            <ion-icon name="pricetag"></ion-icon>
            HISTORY
          </button>
       </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
