page-field {
  .content {
    background-color: #0090d0;
  }
  button {
    background-color: #79a55a;
  }
}

ion-icon {
  font-size: 2em;
}

.card-img {
        width: 100%;
        height: 350px;
        position: relative;
    }
    [social] {
        position: relative;
        float: right;
    }
    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
    }
    [card-subtitle] {
        margin: 0;
        text-align: left;
    }
    [card-body-text] {
        padding-top: 30px;
        margin-bottom: 25px;
    }
    .swiper-slide {
        display: table;
    }
    .slide-zoom {
        height: 220px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .sebm-google-map-container {
    height: 350px;
  }
  [map-header] ion-item {
    text-align: center;
    p {
      color: aliceblue;
      font: 15px/23px 'Open Sans', sans-serif;
    }
  }

  [map-header] ion-icon {
    color: #41b5ea;
  }
