<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>edit</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openGallery()">
          <ion-icon name="photos"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
  <ion-row style="margin-bottom: 15px;">
    <input type="text" value={{report.title}}>
  </ion-row>
  <ion-row class="textareaRow">
      <textarea placeholder="Write your report.." value={{report.text}}></textarea>
  </ion-row>
  <ion-row>
      <div id="container" style="height:300px; width:100%;" *ngFor="let img of report.src">
        <img src={{img}} style="height:100%"/>
        <button (click)="delete(img)" style="background: transparent" class="centered"><ion-icon name="trash" ></ion-icon></button>
      </div>
  </ion-row>
  </ion-grid>
  <ion-fab right bottom>
   <button ion-fab  style="background-color: #79a55a" (click)="reported()"><ion-icon style="color:white" name="checkmark"></ion-icon></button>
 </ion-fab>
</ion-content>
