page-edit {
  .textareaRow {
     height: 250px;
     border-bottom: 1px solid #00bee4;
  }

  textarea {
    width: 100%;
    height: 220px;
    border: none;
    padding: 10px;
    resize:none;
    color: rgba(0, 0, 0, .6);
    font: 15px/23px 'Open Sans', sans-serif;
  }

  input {
    font: 15px/23px 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, .6);
    padding: 10px;
  }

  img {
    width: 100%;
    display: none;

  }

img[src] {
   display: block;
   opacity: .5;
 }
 #container {
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
