page-history {

}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    overflow: hidden;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    background-color: rgba(52, 135, 156, .3);
    height:50px;
}
