<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>history</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col offset-1><ion-label style="font-size:20px;">Report Date</ion-label></ion-col>
      <ion-col><ion-label style="font-size:20px;">Inspector</ion-label></ion-col>
    </ion-row>
    <ion-row>
      <ion-list no-margin (click)="historyItem(report)" *ngFor="let report of reports" style="width:100%; border-bottom:1px solid black">
        <ion-item no-lines round>

           <ion-icon name="calendar" item-start></ion-icon>
           <ion-label>{{report.date}}</ion-label>

           <ion-label>{{report.user}}</ion-label>
           <ion-icon name="calendar"></ion-icon>
           <ion-icon icon-small item-right name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
