<ion-header>

  <ion-navbar>
    <ion-title>historyItem</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 map-header>
        <ion-item no-lines transparent>
          <ion-row>
            <ion-col col-auto><ion-icon name="pricetag" style="color: #494859"></ion-icon></ion-col>
            <ion-col col-auto style="margin-top: 10px; color: white">REPORT</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto style="color:white">TITLE:</ion-col>
            <ion-col col-auto style="color:white">{{title}}</ion-col>
          </ion-row>
          <ion-row style="margin-top: 10px">
            <p text-wrap style="width: 100%; color: white; text-align:left">{{report.text}}</p>
          </ion-row>
          <div float-right style="margin-top: 40px;">
            <ion-col col-auto>
                <button (click)="getPhotos()" transparent>
                  <ion-icon name="photos" style="color: #41b5ea"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-auto>
              <button transparent (click)="edit()">
                <ion-icon name="create" style="color: #41b5ea" ></ion-icon>
              </button>
          </ion-col>
          <ion-col col-auto>
              <button transparent>
                <ion-icon name="trash" style="color: #41b5ea"></ion-icon>
              </button>
          </ion-col>
          </div>
        </ion-item>
      </ion-col>
      <div *ngIf="checked" style="width: 100%">
        <img *ngFor='let img of imgs' src={{img}}/>
      </div>
      <!-- <div *ngIf="checked">
        <img src={{img.photo_url}} *ngFor="let img of imgss">
      </div> -->
    </ion-row>
  </ion-grid>

</ion-content>
