page-history-item {
  [map-header] ion-item {
    text-align: center;
    p {
      color: aliceblue !important;
    }
  }
  img {
    width: 100%;
    display: none;
  }

img[src] {
   display: block;
 }
}
